

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root{

    --ff-heading: 'Staatliches', sans-serif;
    --ff-texting: 'Palanquin', sans-serif;
  
    --bg-primary: hsla(233, 100%, 97%, 1);
    --bg-button-box: hsla(312, 91%, 96%, 1);
    --bg-button-header:hsla(275, 18%, 79%, 1);
    --bg-box-header:hsla(218, 17%, 62%, 1);
    --fc-text-dark: hsla(232, 17%, 35%, 1);

    font-size: 62.5%;
    --fs-body: 1.5rem;
    --fs-heading: 4rem;
    --fs-text: 2rem;
}
  

body {
    font-family: var(--ff-texting);
    font-size: var(--fs-body);
    font-weight: 400;
  
    background-color: var(--bg-primary);
    color: #fff;
  }

  .page {
    display: grid;
    
    max-width: 38.4rem;
    margin: 0 auto;
  }

  img{
    height: auto;
    width: 100%;
  }

  header{
    text-align: center;
    padding: 3.2rem 0 2.9rem;

    background-color: var(--fc-text-dark);
    color: var(--fc-primary);
  }

  header img{
    width: 13.7rem;
    margin-bottom: 3.2rem;
  }

  header h1{
    text-transform: uppercase;
    height: 4.9rem;
    line-height: 3.4rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--fs-heading);
    background-color: var(--bg-button-header);
  }

  .text{
    font-family: 'Palanquin';
    font-style: normal;
    font-size: var(--fs-text);
    color: var(--fc-text-dark);
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    align-items: center;

    padding-top: 0;
    padding-bottom: 6.3rem;
    padding-left: auto;
    padding-right: auto;
    max-width: 30.5rem;
    display: flex;
  
  }

  main{
    display: grid;
    text-align: center;
    padding: 1.4rem 3.2rem 6rem;
  }

  .cards{
    position: relative;
    animation: downtop 1s 325ms backwards;
  }

  .cards + .cards {
    margin-top: 3.6rem;
}


  .cards h2{
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    font-weight: 400;
    font-size: var(--fs-text);
    font-family: var(--ff-heading);
    line-height: 3.4rem;
    color: var(--fc-text-dark);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
    animation: topdown 1s 850ms backwards;

    letter-spacing: 0.05em;

    width: 11.2rem;
    border-radius: 2.0rem;

    background-color: var(--bg-button-box);

  }

@keyframes downtop {
  0%{
    opacity: 0;
    transform: translateY(5.5rem );
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

  @keyframes topdown {
    0%{
      opacity: 0;
      transform: translateY(-3.0rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}